body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(chickenbg.jpg);
    background-size: cover;
}

/* Form Container */
.form-container {
    max-width: 500px;
    margin: auto;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

/* Alerts */
.alert {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
/* Custom logo style */
/* Flex container for logo and business name */
.logo-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 20px; /* Space below the logo */
}

.logo {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px; /* Space between logo and business name */
}

.business-name {
    color: #4E3B31; /* Dark brown color */
    font-weight: bold; /* Bold text */
    font-size: 20px; /* Font size */
}
